html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}
:not(pre) > code[class*='language-'] {
  display: inline-block;
  padding: 2px 8px;
  font-size: 18px;
  margin: 0 3px;
  transform: translateY(-1px);
  background: #f5f5f5;
  color: #ff5b59;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  text-shadow: none;
  word-break: break-all;
}

pre[class*='language-'] {
  width: 875px;
}

@media screen and (max-width: 414px) {
  :not(pre) > code[class*='language-'] {
    font-size: 1.5rem;
    padding: 1px 5px 2px;
    line-height: 1.3;
  }
}
